<!-- Main Container -->
<div class="flex justify-content-between">
  <!-- Typed Input text -->
  <div
    class="col-12 flex align-items-center gap-3 p-0 inputContainer"
    (click)="addTask()"
  >
    <div class="flex">
      <img src="/assets/icons/sum-icon.svg" alt="Sum Icon" />
    </div>

    <input
      class="customText w-full"
      type="text"
      pInputText
      placeholder="Type to add new task"
      [(ngModel)]="typedValue"
      (input)="onInputChange($event)"
    />
  </div>

  <!-- Avatar -->
  <div>
    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
      class="mr-2"
      size="large"
      shape="circle"
      [style.opacity]="typedValue().trim().length > 0 ? '1' : '0.5'"
      [style.cursor-pointer]="typedValue().trim().length > 0 ? '1' : '0.5'"
    />
  </div>
</div>
