<div class="flex-container">
  <div class="input-section">
    <div class="icon-container">
      <img src="/assets/icons/sum-icon.svg" alt="Sum Icon" />
    </div>

    <div class="input-wrapper">
      <div 
        #editableDiv
        contenteditable="true"
        (input)="onInput()"
        (keydown)="onKeydown($event)"
        (blur)="onBlur()"
        (focus)="onFocus()"
        class="editable-div"
        dir="ltr"
        (paste)="onPaste($event)">
      </div>
      <div class="placeholder" *ngIf="showPlaceholder">Type to add new task</div>
    </div>
  </div>

  <div class="avatar-section">
    <div class="avatar" 
         [style.opacity]="typedValue().trim().length > 0 ? '1' : '0.5'"
         [style.cursor]="typedValue().trim().length > 0 ? 'pointer' : 'default'">
      <img src="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" alt="Avatar">
    </div>
  </div>
</div>