@if(!isTouched()) {
<div class="flex flex-column gap-3">
  <div
    class="col-12 flex align-items-center gap-3 p-0 inputContainer"
    (click)="addATask(true)"
  >
    <div class="flex">
      <img src="/assets/icons/sum-icon.svg" alt="Sum Icon" />
    </div>

    <input
      class="customText w-full"
      type="text"
      pInputText
      placeholder="Add new task"
    />
  </div>

  <div class="flex flex-column gap-4">
    @for (task of taskList; track task.id) {
    <div class="flex align-items-center gap-2">
      <p-checkbox (onChange)="checkboxClicked(task)" [binary]="true" />
      <div [innerHTML]="setTaskStyle(task.text) | safeHtml"></div>
    </div>
    }
  </div>
</div>
} @else {
<p-card
  [style]="{
    width: '100%',
    'max-width': '100%',
    height: '4rem',
    padding: '10px',
    'border-bottom-right-radius': '0',
    'border-bottom-left-radius': '0'
  }"
>
  <app-type-input
    (isTyping)="isTypingFunction($event)"
    (sendTypedValue)="recieveTypedFunction($event)"
  />
</p-card>

<!-- Edited Task -->
@if(editedTask().text.length > 0) {
<div class="flex align-items-center gap-2" style="padding: 20px; box-shadow: var(--p-card-shadow)">
  <p-checkbox [binary]="true" />
  <div [innerHTML]="editedTaskStyle(editedTask().text) | safeHtml"></div>
</div>
}

<p-card class="secondCard">
  <app-options
    (addAction)="goBack($event)"
    [isTyping]="isTyping()"
    [typedValue]="typedValue()"
  />
</p-card>
}
