@if(!isTouched()) {
  <div
    class="col-12 flex align-items-center gap-3 p-0 inputContainer"
    (click)="addATask(true)"
  >
    <div class="flex">
      <img src="/assets/icons/sum-icon.svg" alt="Sum Icon" />
    </div>

    <input
      class="customText w-full"
      type="text"
      pInputText
      placeholder="Add new task"
    />
  </div>
} @else {
  <p-card [style]="{ 'width': '100%', 'max-width': '100%', 'height': '4rem', 'padding': '10px', 'border-bottom-right-radius': '0', 'border-bottom-left-radius': '0' }">
    <app-type-input (isTyping)="isTypingFunction($event)" (sendTypedValue)="recieveTypedFunction($event)" />
  </p-card>
  <p-card class="secondCard">
    <app-options (addAction)="goBack($event)" [isTyping]="isTyping()" [typedValue]="typedValue()" />
  </p-card>
}

