.image_container {
  width: 350px;
  height: 350px;
}

.back_button {
  border-radius: 6px;
}

::ng-deep {
  p-button button {
    padding: 0;
    border: var(--p-bgPrimary-500) !important;;
    background: var(--p-bgPrimary-500) !important;
  }

  p-button button:hover {
    background: var(--p-bgPrimary-700) !important;
    border: var(--p-bgPrimary-500) !important;
  }
}
