.custom-color {
  color: #8a94a6;
}

.imageClass {
  width: 22px;
  height: 22px;
}

::ng-deep {
  p-button {
    display: flex;
    justify-content: center;
  }

  .has-background button {
    background: #eaf0f5 !important;
    border-color: #eaf0f5 !important;
    width: 100%;
    max-width: 21.875rem;
  }

  p-button button {
    background: transparent !important;
    border-color: transparent !important;
    width: 100%;
    max-width: 21.875rem;
  }

  .button-bg-cancel button {
    background: var(--bg-secondary) !important;
    border: none;
    color: black;
    border-radius: 4px;
    height: 100%;
    width: 100%;

    &:hover {
      background: var(--bg-secondary-hover) !important;
      cursor: pointer;
      color: black !important;
      transition: background-color 0.3s ease;
    }
  }

  .button-bg-ok button {
    background: var(--p-bgPrimary-600) !important;
    border: none;
    border-radius: 4px;
    height: 100%;
    width: 100%;

    &:hover {
      background: var(--p-bgPrimary-400) !important;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  }
}

@media screen and (max-width: 768px) {
  .imageClass {
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 768px) {
  ::ng-deep {
    .button-bg-cancel button {
      width: 90px;
    }

    .button-bg-ok button {
      width: 70px;
    }
  }
}
