<div class="flex justify-content-between">
  <!-- Options Row -->
  <div class="flex gap-2">
    @for (butt of buttons; track butt.id) {      
      <p-button [disabled]="disableOptions()" [ngClass]="{'has-background': butt.bg !== 'transparent'}">
        <img [src]="butt.icon" [alt]="butt.name">
        <span class='text-color-customer'>{{ butt.name }}</span>
      </p-button>
    }
  </div>

  <!-- Button Action Row -->
  <div class="flex gap-2">
    <p-button [ngClass]="'button-bg-cancel'" (click)="cancel()">Cancel</p-button>
    <p-button [ngClass]="'button-bg-ok'" (click)="disableOptions() ? goBack() : add()">{{ disableOptions() ? 'Ok' : 'Add'}}</p-button>
  </div>
</div>