/* You can add global styles to this file, and also import other style files */

:root {
  --p-bgPrimary-50: #eff6ff;
  --p-bgPrimary-100: #dbeafe;
  --p-bgPrimary-200: #bfdbfe;
  --p-bgPrimary-300: #93c5fd;
  --p-bgPrimary-400: #60a5fa;
  --p-bgPrimary-500: #3b82f6;
  --p-bgPrimary-600: #2563eb;
  --p-bgPrimary-700: #1d4ed8;
  --p-bgPrimary-800: #1e40af;
  --p-bgPrimary-900: #1e3a8a;
  --p-bgPrimary-950: #172554;

  --custom-padding: 3.5rem;
  --small-padding: 10px;
}

/* Custom classes with bg prefix */
.bg-bgPrimary-50 { background-color: var(--p-bgPrimary-50) !important; }
.bg-bgPrimary-100 { background-color: var(--p-bgPrimary-100) !important; }
.bg-bgPrimary-200 { background-color: var(--p-bgPrimary-200) !important; }
.bg-bgPrimary-300 { background-color: var(--p-bgPrimary-300) !important; }
.bg-bgPrimary-400 { background-color: var(--p-bgPrimary-400) !important; }
.bg-bgPrimary-500 { background-color: var(--p-bgPrimary-500) !important; }
.bg-bgPrimary-600 { background-color: var(--p-bgPrimary-600) !important; }
.bg-bgPrimary-700 { background-color: var(--p-bgPrimary-700) !important; }
.bg-bgPrimary-800 { background-color: var(--p-bgPrimary-800) !important; }
.bg-bgPrimary-900 { background-color: var(--p-bgPrimary-900) !important; }
.bg-bgPrimary-950 { background-color: var(--p-bgPrimary-950) !important; }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Apply Roboto to the entire project
* {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --font-family: 'Roboto', sans-serif;
}

.p-component {
  font-family: 'Roboto', sans-serif;
}
